:root {
  --shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
  --read-color: #05e662;
  --not-read-color: #7ef5b0;
}

/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /* footer support */
  position: relative;
  min-height: 100%;
}

body {
  background-color: var(--grey);
  color: var(--black);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  word-wrap: break-word;
  /* footer support */
  margin-bottom: 100px;
}

button,
input {
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  outline: none;
}

input[type='text'],
input[type='number'] {
  cursor: text;
}

/* Body */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #efefef;
}

/* Header */

header {
  padding: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  color: black;
  box-shadow: var(--shadow);
}

header #new-book-btn {
  font-size: 0.9rem;
  padding: 0.7em 2.1em;
  border: none;
  border-radius: 15px;
  background-color: lightblue;
  cursor: pointer;
}

/* Main */

main {
  flex: 1;
  padding: 1rem;
}

main #books-grid {
  display: grid;
  grid-template: auto / repeat(auto-fit, minmax(150px, 300px));;
  justify-content: space-around;
  gap: 1rem;
} 

/* Book Cards */

.book-card {
  width: 100%;
  height: auto;
  padding: 1rem;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
  box-shadow: var(--shadow);
  border-radius: 15px;
}

.book-card .title {
  font-weight: 700;
}

.book-card .author,
.book-card .pages {
  font-weight: 400;
}

/* Card Buttons */

.book-card button {
  width: 70%;
  height: auto;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}

.book-card .read-status-btn {
  border: 2px solid var(--read-color);
  background-color: var(--not-read-color);
}

.book-card .remove-btn {
  background-color: red;
  border: 2px solid red;
}
